In [1]:
%matplotlib inline
import re
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import nltk
nltk.download('stopwords')
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.multiclass import OneVsRestClassifier
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
import seaborn as sns
df = pd.read_csv("train.csv", encoding = "ISO-8859-1")
df.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/sjhjrok/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [2]:
df_report = df.drop(['Dates', 'DayOfWeek', 'PdDistrict', 'Resolution', 'Address', 'X', 'Y'],axis=1)
df_report
df_report_2 = df.drop(['Descript','Dates', 'DayOfWeek', 'PdDistrict', 'Resolution', 'Address', 'X', 'Y'],axis=1)
df_report_2

                      Category
0                     WARRANTS
1               OTHER OFFENSES
2               OTHER OFFENSES
3                LARCENY/THEFT
4                LARCENY/THEFT
...                        ...
878044                 ROBBERY
878045           LARCENY/THEFT
878046           LARCENY/THEFT
878047               VANDALISM
878048  FORGERY/COUNTERFEITING

[878049 rows x 1 columns]

In [3]:
print("prep")
counts = []
print("start")
categories = list(df_report_2.columns.values)

prep
start

In [4]:
print("catagories")
for i in categories:
    counts.append((i, df_report[i].sum()))
df_stats = pd.DataFrame(counts, columns=['Category', 'count'])
df_stats

catagories
1

   Category                                              count
0  Category  WARRANTSOTHER OFFENSESOTHER OFFENSESLARCENY/TH...

In [5]:
df_stats.plot(x='Category', y='number_of_comments', kind='bar', legend=False, grid=True, figsize=(8, 5))
plt.title("Number of comments per category")
plt.ylabel('# of Occurrences', fontsize=12)
plt.xlabel('category', fontsize=12)

KeyError: 'number_of_comments'

In [ ]:
rowsums = df.iloc[:,2:].sum(axis=1)
x=rowsums.value_counts()#plot
plt.figure(figsize=(8,5))
ax = sns.barplot(x.index, x.values)
plt.title("Multiple categories per comment")
plt.ylabel('# of Occurrences', fontsize=12)
plt.xlabel('# of categories', fontsize=12)